# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 모든 파일에 대한 기본 설정
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown 파일은 trailing space가 의미가 있을 수 있음
[*.md]
trim_trailing_whitespace = false

