/* CSS RESET */
* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  background-color: #f4f4f5;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  appearance: none;
  outline: none;
}
table {
  border-collapse: collapse;
} /*CSS초기화의 부분*/
