---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About arch-spatula";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>arch-spatula에 대해서...</h1>
  <p>arch-spatula라고 이름을 정한 이유가 있나요?</p>
  <p>쿡북을 많이 쓸거라는 생각 때문에 지었습니다. 하지만 별로 안 썼습니다.</p>
  <p>개발자 블로그는 왜 이모양인가요?</p>
  <p>
    지금 만들고 있습니다. 프론트엔드 엔지니어답게 개발자 블로그만큼은 DIY로
    만들려고 합니다.
  </p>
  <p>블로그 완성 언제하나요?</p>
  <p>2023년 생일 전날까지 완성하려고 합니다.</p>
</BaseLayout>
