---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Cook Book Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>블로그 페이지</h1>
  <p>이런 저런 쿡북들이 많습니다.</p>
  <p>제가 보려고 쓴 것입니다.</p>
  <p>나중에 여기서 검색을 지원하겠습니다.</p>
  <p>여기서는 전체 글 목록이 다 보일 것입니다.</p>
</BaseLayout>
