---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "arch-spatula의 레시피";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>홈페이지</h1>
  <p>여기 뭐라 써야 할지 몰라서 일단 이렇게 씁니다.</p>
</BaseLayout>
