---
import "../styles/global.css";
---

<nav class="header-nav">
  <a class="header-nav-item" href="/">Home</a>
  <a class="header-nav-item" href="/blog/">Blog</a>
</nav>

<style>
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 48rem;
  }
  .header-nav-item {
    font-weight: 700;
    font-size: 1.25rem;
    color: #F9FAFB;
  }
</style>
