---
const { title } = Astro.props;
---

<div class="profile-container">
  <img
    src="https://user-images.githubusercontent.com/84452145/209440202-fb0849e4-863d-4708-b78e-ab047a83e6ca.jpg"
    alt="neptune's Golden Spatula"
  />
  <div>
    <h1>{title}</h1>
    <p class="description">
      이런저런 Cook Book을 많이 만듭니다. 나중에 제가 다시볼 내용 위주로
      정리합니다. 마크다운의 한계를 극복하기 위한 저만의 방법입니다.
    </p>
  </div>
</div>

<style>
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
  }

  img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .description {
    text-align: left;
    word-break: keep-all;
    margin: 0.25rem 0 0;
    line-height: 1.5rem;
  }
</style>
