---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- code block button -->
    <script>
      import "../components/CopyCodeButton/CopyCodeButton";
      import "../components/CopyCodeButton/create-copy-buttons";
    </script>
    <!-- font -->
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header class="header" />
    <div class="main-container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap");
  .header {
    display: sticky;
  }
  .main-container {
    width: 48rem;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 1rem;
  }
</style>
