---
import Description from "../components/Description.astro";
import Divider from "../components/Divider.astro";
import PostTitle from "../components/PostTitle.astro";
import TagList from "../components/TagList.astro";
import BaseLayout from "./BaseLayout.astro";
const {
  frontmatter: { title, description, tags },
} = Astro.props;
---

<BaseLayout pageTitle={title}>
  <PostTitle title={title} />
  <div class="description-wrap">
    <Description description={description} />
  </div>
  <TagList tags={tags} />
  <div class="divider-wrap">
    <Divider />
  </div>
  <slot />
</BaseLayout>

<style is:inline>
  .description-wrap {
    margin: 0 0 1.25rem;
  }

  .divider-wrap {
    margin: 1.5rem 0 0;
  }

  a {
    color: #00539f;
  }

  body {
    font-size: 1rem;
    line-height: 1.5rem;
    /* text-align: left; */
    word-break: keep-all;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }

  /* 기본 tag를 스타일링합니다. */
  blockquote {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    background-color: #dbeafe;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
  }

  p + p {
    text-indent: 1rem;
  }

  h1 {
    margin: 3rem 0 2rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  p {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  ul > li {
    margin: 0.5rem 0 0 1.5rem;
    list-style-position: outside;
    list-style-type: disc;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 -2rem;
  }
  
  ol > li {
    margin: 0.5rem 0 0 1.5rem;
    list-style-position: outside;
    list-style-type: decimal;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 -2rem;

  }

  ::marker {
    color: #93c5fd;
    margin: 0;
    font-size: 1.25rem;
  }


  :where(li, p) > code {
    color: #60a5fa;
    background-color: #dbeafe;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }

  pre {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem 0 1rem;
  }
</style>
