<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Arch-Spatula의 개발 레시피{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="tags" content="{{tags}}" />
    <meta name="authors" content="{{authors}}" />
    <meta name="date" content="{{date}}" />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li class="blog-logo-container">
          <a class="blog-logo" href="/"
            ><img class="logo-img" src="/profile.png" alt="blog logo" />
            <p>home</p></a
          >
        </li>
        <li>
          <button id="popup-btn">
            <img class="icon" src="/search.svg" alt="search" />
            <p class="popup-text">Ctrl + k</p>
          </button>
        </li>
        <li class="github-link">
          <a href="https://github.com/arch-spatula/arch-spatula.github.io" target="_blank">GitHub</a>
        </li>
      </ul>
    </nav>
    <div id="app">{{body}}</div>
    <div id="search">{{search}}</div>
    <footer class="footer"></footer>
    <script src="/script.js"></script>
  </body>
</html>
